body{

    background-color: #18171c;
}

.head {

    color: whitesmoke;
    background-color: darkblue;
}

.main {

    background-color: whitesmoke;
    text-align: center;
    width: 80%;
    height: 100%;
    margin-left: 10em;
    margin-right: 10em;

}

.footer {

    text-align: center;
    background-color: aqua;
    color: cornsilk;
    padding: 0;
    margin: 0;

}

.head h6 {

    text-align: center;
    text-size-adjust: 5px;
}